@import 'tailwindcss';
@import './base.css';
@custom-variant dark (&:where(.dark, .dark *));

#app {
  padding: 2rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (max-width: 576px) {
  #app {
    padding: 0;
  }
}
